.root {
  height: 100%;
  background-color: var(--color-greyLightest);
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fontsize-large-iii);
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.icon {
  font-size: 4rem;
}

.welcome {
  margin-top: 0;
  text-align: center;
  font-size: var(--fontsize-large-iv);
  margin-bottom: var(--size-regular);
}

.strapline {
  text-align: center;
  font-size: var(--fontsize-regular);
  margin-top: 0;
  margin-bottom: 2rem;
}

@media(min-width: 40rem) {
  .welcome {
    font-size: var(--fontsize-large-v);
  }

  .strapline {
    margin-bottom: 4rem;
  }
}
