.root {
  padding: var(--size-lg-i);
  position: relative;
  background-color: var(--color-white);
  transition-duration: 200ms;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.65, 0.05, 0.36,1);
}

.root:before {
  content: "";
  display: block;
  padding-top: 50%;
  float: left;
}

.root > a {
  text-decoration: none;
}

.root:hover {
  transform: scale(0.9);
}

.name {
  font-size: var(--fontsize-regular);
  font-weight: var(--fontweight-demi);
  color: var(--color-black);
}

.department {
  position: absolute;
  bottom: var(--size-lg-i);
  font-size: var(--fontsize-small-ii);
  font-weight: var(--fontweight-regular);
  color: var(--color-black);
  text-transform: uppercase;
}

@media(min-width: 22rem) {
  .root:before {
    padding-top: 100%;
  }
}

@media(min-width: 40rem) {
  .name {
    font-size: var(--fontsize-large-ii);
  }

  .department {
    font-size: var(--fontsize-small-i);
  }

  .root {
    padding: calc(var(--size-lg-i) * 2);
  }

  .root:before {
    padding-top: 100%;
  }
}
