.root {
  padding: var(--size-regular);
  position: relative;
  background-color: var(--color-white);
  border-radius: 2px;
  z-index: 1;
  transition: box-shadow 100ms ease-in-out;
  border: 1px solid var(--color-greyLighter);
}

.root:after {
  border-radius: 4px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);
}

.root > a {
  text-decoration: none;
}

.name {
  font-size: var(--fontsize-large-i);
  font-weight: var(--fontweight-demi);
  color: var(--color-greyDarker);
  white-space: nowrap;
  overflow: hidden;
  width: 98%;
  text-overflow: ellipsis;
}

.department {
  font-size: var(--fontsize-regular);
  color: var(--color-grey);
  margin-top: var(--size-sm-ii);
}
