.root {
  display: grid;
  grid-template-columns: 0.2fr 0.4fr 0.4fr;
  grid-template-areas:
  "logo logo logo"
  "search search search"
  "navigation navigation navigation";
  align-items: center;
  position: relative;
  background-color: var(--color-white);
  grid-gap: var(--size-regular);
  padding-top: var(--size-regular);
  padding-bottom: var(--size-regular);
  padding-left: calc(var(--size-lg-i) + var(--size-sm-ii));
  padding-right: calc(var(--size-lg-i) + var(--size-sm-ii));
  min-height: 0;
  min-width: 0;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
}

.logoContainer {
  padding: var(--size-regular);
  padding-left: 0;
  grid-area: logo;
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
}

.logo {
  color: var(--color-black);
  font-size: var(--fontsize-large-i);
  margin-right: var(--size-sm-i);
}

.logoText {
  color: var(--color-black);
  font-weight: var(--fontweight-demi);
  font-size: var(--fontsize-large-i);
}

.navigation {
  grid-area: navigation;
  overflow-x: auto;
  white-space: nowrap;
  min-width: 0;
  min-height: 0;
}

.navigationItem {
  font-family: inherit;
  padding: var(--size-regular);
  color: var(--color-grey);
}

.navigationItem:first-of-type {
  padding-left: 0;
}

.navigationItem:hover {
  color: var(--color-black);
}

.navigationItem:focus {
  outline: none;
}

.active {
  color: var(--color-black);
}

@media(min-width: 36.25rem) {
  .root {
    padding-top: calc(var(--size-lg-i) + var(--size-sm-ii));
    padding-bottom: calc(var(--size-lg-i) + var(--size-sm-ii));
    padding-left: var(--size-lg-iii);
    padding-right: var(--size-lg-iii);
  }
}

@media(min-width: 70rem) {
  .root {
    grid-template-columns: 0.1fr 0.5fr 0.4fr;
    grid-template-areas:
    "logo navigation search";
  }
}
