.root {
  display: flex;
  flex-direction: column;
  background-color: var(--color-black);
}

.inputRoot {
  width: 100%;
}

input[type="text"].input {
  padding-top: var(--size-regular);
  padding-bottom: var(--size-regular);
}

.input:focus {
  outline: none;
}
