.root {
  display: flex;
  align-items: center;
  background-color: var(--color-black);
}

.logoContainer {
  padding: var(--size-regular);
  position: relative;
}

.logoContainer:after {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  border-right: 1px solid #383838;
  position: absolute;
  right: 0;
  top: 0;
}

.logo {
  height: var(--size-lg-i);
}

.inputRoot {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

input.input[type="text"],
input.input[type="text"]:focus {
  background: none;
  border: none;
  color: var(--color-white);
}

.icon {
  color: var(--color-grey);
}

