.root {
  display: flex;
  flex-direction: column;
  background-color: var(--color-black);
}

.logoContainer {
  align-self: center;
  background-color: var(--color-black);
  padding: var(--size-regular);
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  height: var(--size-lg-i);
  margin-right: var(--size-sm-i);
}

.logoText {
  color: var(--color-white);
  font-weight: var(--fontweight-demi);
  font-size: var(--fontsize-large-i);
}

.inputRoot {
  width: 100%;
}

.input:focus {
  outline: none;
}

@media(min-width: 36.25rem) {
  .logoContainer {
    align-self: flex-start;
  }
}
