body {
  margin: 0;
}

.app {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font-family: 'Avenir Next W01', 'Helvetica Neue', 'Helvetica', 'sans-serif';
  color: var(--color-black);
}
