.top {
  max-width: 45rem;
}

.bottom {
  display: grid;
  grid-gap: calc(var(--size-lg-i) + var(--size-sm-ii));
  min-height: 0;
  min-width: 0;
  margin-top: calc(var(--size-lg-i) + var(--size-sm-ii));
}

.section {
  overflow: hidden;
  min-width: 0;
  min-height: 0;
}

.h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: var(--fontweight-demi);
  font-size: var(--fontsize-large-i);
}

.h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: var(--fontweight-demi);
  font-size: var(--fontsize-regular);
  white-space: nowrap;
}

.h2:after {
  margin-top: var(--size-regular);
  margin-bottom: var(--size-regular);
  background-color: var(--color-black);
  height: 1px;
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  vertical-align: middle;
  width: 100%;
}

.h3 {
  margin-top: var(--size-regular);
  margin-bottom: var(--size-regular);
  font-size: var(--fontsize-small-i);
}

.h3:first-of-type {
  margin-top: 0;
}

.body p {
  font-weight: var(--fontweight-regular);
  font-size: var(--fontsize-small-i);
}

.badge {
  margin-top: var(--size-regular);;
}

.definition p {
  margin-top: var(--size-regular);
  font-weight: var(--fontweight-demi);
  font-size: var(--fontsize-regular);
}

@media(min-width: 36.25rem) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--size-lg-iii);
    margin-top: var(--size-lg-iii)
  }

  .h1 {
    font-size: var(--fontsize-large-v);
  }

  .definition p {
    font-size: var(--fontsize-large-i);
  }
}

@media(min-width: 48.75rem) {
  .bottom {
    grid-template-columns: repeat(3, 1fr);
  }
}
